* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
h1 {
  color: blue;
}
form {
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.293);
  background-color: white;
  text-align: center;
  max-width: 350px;
}
#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border-radius: 4px;
  border: 2px solid hsla(0, 0%, 0%, 0.8);
}
#submit-btn {
  padding: 10px 25px;
  font-size: 1.5em;
  background-color: hsl(0, 100%, 60%);
  color: white;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 5px;
}
#submit-btn:hover {
  background-color: hsl(0, 100%, 40%);
  cursor: pointer;
}
label {
  font-size: 1.5em;
  font-weight: bold;
}
#result {
  font-size: 1.75em;
  font-weight: bold;
}
input {
  padding: 8px;
  margin: 10px 0;
  border: 2px solid hsla(0, 0%, 0%, 0.8);
  border-radius: 4px;
}
input::placeholder {
  color: black;
}
form h1 {
  margin: 15px 0;
}
#toFahrenheit {
  margin-bottom: 15px;
}

form input[type="radio"] {
  transform: scale(1.2);
  margin-right: 10px;
}
@media all and (max-width: 1440px) {
  body {
    font-size: 90%;
  }
}
@media all and (max-width: 375px) {
  body {
    font-size: 80%;
  }
}
